<% if notice %>
  <aside id="notice bg-success"><%= notice %></aside>
<% end %>
<h2>Košík</h2>
<div style="float: right">Celková cena: <%= number_to_currency(total_price, unit: "Kč", format: "%n %u") %></div>
<br>
<div style="float: right"><%= link_to "Vyklidit košík", clear_path, method: :get, class: "nav-link" %> </div>

<table class="table text-white">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Název</th>
    <th scope="col">Cena</th>
    <th scope="col">Možnosti</th>
    <th scope="col">Počet</th>
  </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |item| %>
    <% prod = item.product %>
    <tr>
      <td><%= image_tag(gravatar(item.product.title)) %></td>
      <td><%= item.product.title %></td>
      <td><%= number_to_currency(item.product.price, unit: "Kč", format: "%n %u") %></td>
      <td><%= link_to "Smazat", remove_path(item), method: :get %></td>
      <td><%= item.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>