<div id="<%= dom_id product %>">
  <p>
    <strong>Název:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Popis:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Cena:</strong>
    <%= product.price %>
  </p>

</div>
