<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Produkty</h1>
<%= link_to "Nový produkt", new_product_path %>
<table class="table text-white">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Název</th>
    <th scope="col">Popis</th>
    <th scope="col">Image_url</th>
    <th scope="col">Cena</th>
    <th scope="col">Možnosti</th>
  </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
          <td>
            <%= product.id %>
          </td>
          <td class="description">
            <h3><%= product.title %></h3>
          </td>
          <td class="description">
            <p>
              <%= truncate(strip_tags(product.description), length: 80) %>
            </p>
          </td>
          <td>
            tralala
            <img src="<%= gravatar(product.title) %>">
            <%#= image_tag(product.image_url, class: 'list-image') %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td class="actions">
            <ul>
              <li><%= link_to 'Zobrazit', product %></li>
              <li><%= link_to 'Upravit', edit_product_path(product) %></li>
              <li>
                <%= link_to 'Smazat', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
