<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Upravit", edit_product_path(@product) %> |
  <%= link_to "Zpátky na seznam", products_path %>

  <%= button_to "Smazat", @product, method: :delete %>
</div>
