<tr>
  <td><%= image_tag(gravatar(line_item.product.title)) %></td>
  <td><%= line_item.product.title %></td>
  <td><%= number_to_currency(line_item.product.price, unit: "KÄ", format: "%n %u") %></td>
  <td><%= link_to "Smazat", remove_path(line_item), method: :get %></td>
  <td><%= line_item.quantity %></td>
</tr>