<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Katalog</h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="row border border-warning">
        <h2 class="float-left"><%= product.title %></h2>
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(gravatar(product.title), class: "gravatar-image") %>
          </div>
          <div class="col-md-10 popis">
            <p><%= product.description %></p>
          </div>
          <div class="mt-2 mb-3 ml-3 ml-auto col-md-12 shop-button">
            <%= button_to "Přidat do košíku", line_items_path(product_id: product), class: "btn btn-success float-right shop-col" %>
            <div class="shop-col">
              <%= number_to_currency(product.price, unit: "Kč", format: "%n %u") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
